#titulo{
    color: blue;
    
}
.texto{
    color: blueviolet;
}

div p {
    color: aquamarine;
    border: 5px black dashed ;
}

.color{
    background-color: brown;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}

#fondo {
    background-color: blue;
    opacity: 0.6;
    height: 200px;
    background-size: 400px 400px ;
    background-repeat: repeat-y /100px 100px;
    background-position: center bottom;
    background-image: url('cafe.png');
}