.headsec {
    font-size: 40px;
    color: #009900;
    font-weight: bold;
    margin-left: 10px;
}

body {
    margin: 10 px auto;
}

footer {
    width: 100%;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    position:absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

bodysec {
    margin-left: 20px;
}