
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: white;
    font: 200 14px "Poppins", sans-serif;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;    
}

.hastag{
    color: #ffc900
}

#redessociales{  
    list-style: none;
    margin-top: 20px;
}


#inicio{
    background-image: url(../images/portada.png);
    min-height: 280px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 10px 100px;
}
#experiencia{
    background-color: white;
    color: #222;
}

p{
    text-align: justify;
}
cite{
    font-weight: 300;
}

#portfolio{
    border-top: 1px solid #ffc900
}

.seccion{
    padding: 10px 100px 10px 100px;
}

/*.redes{
    color: #2f59a2;
    font-size: 20px;
}
*/

