
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: white;
    font: 200 14px "Poppins", sans-serif;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;    
}

section{
    padding: 10px 100px 10px 100px;
}
.hastag{
    color: #ffc900
}

#redessociales{  
    list-style: none;
    margin-top: 20px;
}


#inicio{
    background-image: url(../images/portada.png);
    min-height: 280px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 10px 100px;
}
#experiencia{
    background-color: white;
    color: #222;
}

p{
    text-align: justify;
}
cite{
    font-weight: 300;
}
/* Color a los enlaces */
i{
    font-size: 24px;
}
i:hover{
    color: #ffc900;
}
a:any-link{
    color:white;
}
a:-webkit-any-link {
    color:white;
}
a:-moz-any-link {
    color:white;
}
/* Fin Color a los enlaces */
li{
float: left;
margin-right: 5px;
}
#portfolio{
    border-top: 1px solid #ffc900
}

